In [1]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn

In [2]:
os.chdir(r"C:\Users\Dan Masibo\Documents\Python Projects\titanic")

In [3]:
train=pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
y_train=train['Survived']
X_train=train.drop(['Survived'], axis=1)

In [5]:
train.shape, X_train.shape

((891, 12), (891, 11))

In [6]:
X_train['Sex']=X_train['Sex'].map({'female':1, 'male':0})

In [7]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [9]:
X_train['Fare_band']=pd.qcut(X_train['Fare'], 4)
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_band
0,1,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7,NaN,S,"(-0.001, 7.0]"
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71,C85,C,"(31.0, 512.0]"
2,3,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7,NaN,S,"(-0.001, 7.0]"
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53,C123,S,"(31.0, 512.0]"
4,5,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8,NaN,S,"(7.0, 14.0]"

In [10]:
X_train[['Fare_band', 'Age']].groupby('Fare_band', as_index=False).mean().sort_values(by='Fare_band', ascending=True)

       Fare_band        Age
0  (-0.001, 7.0]  28.354037
1    (7.0, 14.0]  28.894096
2   (14.0, 31.0]  28.380000
3  (31.0, 512.0]  33.021421

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    int32
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
 11  Fare_band    891 non-null    category
dtypes: category(1), float64(1), int32(1), int64(5), object(4)
memory usage: 74.3+ KB

In [12]:
X_train.drop(['Fare_band'], axis=1, inplace=True)

In [13]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71,C85,C
2,3,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53,C123,S
4,5,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8,NaN,S

In [14]:
X_train['Embarked']=X_train['Embarked'].fillna(X_train['Embarked'].dropna().mode()[0])

In [15]:
X_train['Cabin']=X_train['Cabin'].fillna(X_train['Cabin'].dropna().mode()[0])

In [16]:
X_train['Age']=X_train['Age'].fillna(X_train['Age'].dropna().mean())

In [17]:
X_train.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

## Feature Selection

In [18]:
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split

In [19]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7,B96 B98,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71,C85,C
2,3,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7,B96 B98,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53,C123,S
4,5,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8,B96 B98,S

In [20]:
X_train=pd.get_dummies(X_train)

In [21]:
X_train.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,0,22.0,1,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.0,1,0,71,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,1,26.0,0,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.0,1,0,53,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,0,35.0,0,0,8,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
X_train.shape

(891, 1729)

In [23]:
x_train, x_test, y_train, y_test=train_test_split(X_train, y_train, test_size=0.2, random_state=0)

In [24]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((712, 1729), (179, 1729), (712,), (179,))

In [25]:
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(x_train)

VarianceThreshold(threshold=0)

In [26]:
var_thres.get_support()

array([ True,  True,  True, ...,  True,  True,  True])

In [27]:
# sum of non_constant features
sum(var_thres.get_support())

1418

In [28]:
# Finding number of non_constant features
len(x_train.columns[var_thres.get_support()])

1418

In [29]:
constant_columns=[column for column in x_train.columns 
                  if column not in x_train.columns[var_thres.get_support()]]
print(len(constant_columns))

311

In [32]:
#for column in constant_columns:
    #print(column)

In [31]:
x_train=x_train.drop(constant_columns, axis=1)
x_train.shape

(712, 1418)